.sidebar {
  background:  rgba(252, 253, 253, 1);
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;


.logo{
  padding: 1.5rem;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
}

.groupTitle{
  color: rgba(95, 104, 109, 1);
font-size: 14px;
font-weight: 500;
line-height: 19px;
text-align: left;
}

.label{
  color: rgba(28, 35, 39, 1);
font-size: 16px;
font-weight: 500;
line-height: 22px;
}
  /* Навигация растягивается на всё доступное пространство */
  .nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
  
    .navGroup{
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .navButton {
      width: 224px;
     height: 48px;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 0.5rem 1rem;
      background: none;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      transition: background 0.2s, color 0.2s;
      transition: transform 0.3s ease-in-out;

      &:hover {
        box-sizing: border-box;
border-radius: 12px;
background: rgba(241, 243, 244, 1);
   transform: scale(1.02);
      }

      .iconWrapper {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
      }

      &.active {
    color: rgba(1, 64, 78, 1);
border-radius: 12px;
background:  rgba(217, 224, 227, 1);

        .iconWrapper {
           color: rgba(1, 64, 78, 1);
        }
      }
    }
  }

  /* Premium-блок всегда прижат к низу */
  .premiumBlock {
    align-self: center;
    margin-top: auto; /* прижимаем к низу */
    margin-bottom: 2rem;
    width: 224px;
    height: 178px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid  rgba(227, 230, 232, 1);
box-sizing: border-box;
border-right: 1px solid  rgba(227, 230, 232, 1);
background:  rgba(234, 239, 240, 1);

    .premiumTitle {
      font-size: 1.125rem; /* 18px */
      font-weight: 600;
      line-height: 1.4;
      margin: 0;
      color: #000000;
      width: auto;
    }

    .premiumText {
      margin-top: 0.5rem;
      font-size: 0.875rem; /* 14px */
      font-weight: 400;
      line-height: 1.4;
      color: #000000;
      
    }

    .premiumButton {
      margin-top: 1.5rem;
      width: 192px;
      height: 48px;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      gap: 0.5rem;
      border-radius: 12px;
      background: rgba(1, 64, 78, 1);
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      color: rgba(252, 253, 253, 1);
      cursor: pointer;
      transition: background 0.2s;
      transition: transform 0.3s ease-in-out;

      &:hover {
        background-color: rgba(31, 83, 94, 1);
        transform: scale(1.02);
      }
    }
  }
}
